.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerText {
  position: absolute;
  z-index: -10;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper.hide {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 2000px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000000;
  padding: 0 4em;
  margin-top: 2em;
  color: rgb(233, 233, 233);
}

.nav div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.nav div i {
  transition: all 300ms;
}

.nav div:hover i {
  transform: translateX(-50%);
}


.card {
  width: 40em;
  height: 28em;
  position: absolute;
  background: transparent;
  transform: rotateY(-30deg) translateX(260px) translateY(0);
  background-position: center;
  background-size: cover;
  transition: all 650ms;
}

.card.center {
  transform: rotateY(0deg) translateX(0px);
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-1500px);
  transition: all 650ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg.center {
  transform: translateX(0);
}

.arrowDown {
  position: fixed;
  bottom: 2em;
  background: transparent;
  padding: 0.5em;
  cursor: pointer;
  border: 2px solid rgb(233, 233, 233);
  color: rgb(233, 233, 233);
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.arrowDown i {
  transition: all 650ms;
}

.arrowDown:hover i {
  transform: translateY(50%);
}

.projectTitle {
  position: absolute;
  width: 100%;
  transform: translateY(-100px);
  transition: all 650ms;
  padding-left: 1em;
  font-size: calc(2rem + 7vw);
  font-weight: 900;
  font-family: serif;
  color: rgb(233, 233, 233);
}

.projectTitle.center {
  transform: translateY(0);
}

.swiper {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateX(100%);
}

.swiper.swipeOpen {
  animation: openSwiper 650ms both;
}

@keyframes openSwiper {
  0% {transform: translateX(100%); width: 100%;}
  100% {transform: translateX(0); width: 100%;}
}

.swiper.swipeClose {
  animation: closeSwiper 650ms both;
}

@keyframes closeSwiper {
  0% {transform: translateX(0); width: 100%;}
  100% {transform: translateX(0); width: 0%;}
}

.contentWrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(236, 231, 231);
  padding: 2em 12em;
  position: relative;
}

.transparent {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentNav {
  width: auto;
  height: 100%;
  position: fixed;
  top: 0;
  right: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: transparent;
}

.backToTop,
.navItem {
  display: block;
  width: 100%;
  white-space: nowrap;
  border: 2px solid rgb(178, 175, 175);
  border-radius: 0.25em;
  padding: 0 0.25em;
  cursor: pointer;
}

.navItem.active {
  background: rgb(233, 233, 233);
}

.backToTop {
  cursor: pointer;
}

.container button {
  position: fixed;
  top: 0;
  left: 0;
}

.container button:last-child {
  position: fixed;
  top: 4em;
  left: 0;
}

.home {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.routeBtn {
  width: 100%;
  position: absolute;
  bottom: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.routeBtn.out {
  visibility: hidden;
  width: auto;
  position: fixed;
  right: 4em;
}

.next, .prev {
  flex: 1;
  cursor: pointer;
  border: 2px solid rgb(178, 175, 175);
  text-align: center;
  border-radius: 0.25em;
}

@media screen and (max-width: 1200px) {
  .nav {
    padding: 1em 3em;
  }

  .contentWrapper {
    padding: 2em 7em;
  }

  .contentNav {
    right: 2em;
  }
}

@media screen and (max-width: 1024px) {


  .card {
    position: static;
    margin-bottom: 2em;
    width: 40em;
    height: 20em;  
  }

  .projectTitle {
    position: static;
    text-align: center;
    padding: 0;
  }

  .fixed {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 1em 2em;
  }

  .contentWrapper {
    padding: 2em 5em;
  }

  .contentNav {
    font-size: 0.75rem;
  }
  
}

@media screen and (max-width: 768px) {  
  .card {
    width: 100%;
    max-width: 90%;
    height: 20em;  
  }

  .contentWrapper {
    padding: 2em 1em;
  }

  .contentNav {
    display: none;
  }

  .routeBtn.out {
    visibility: visible;
  }
}

