.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  overflow: hidden;
}

.project {
  flex: 1 0 auto;
  width: 80%; 
  height: 32em;
  background-position: center;
  background-size: cover;
}
