.container {
  padding-top: 2em;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  cursor: pointer;
  transition: transform 1s;
}

.project {
  width: 40vw;
  height: 28vw;
  background-position: center;
  background-size: cover;
  transition: all 650ms;
  animation: breath 4s alternate infinite;
  filter: unset;
}

.project.active {
  filter: unset;
  /* width: 42vw; */
}

.project.active.viewMode {
  width: 46vw;
  animation: none;
}

@keyframes breath {
  from {transform: translateX(10px) translateY(-10px)};
  to {transform: translateX(0px) translateY(0)};
}