.container {
  width: 100%;
  height: 100%;
  position:  relative;
  padding-left: 1em;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container * {
  scroll-behavior: smooth;
  perspective: 1000px;
}

.homepage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}

.homeContentWrapper {
  width: 100%;
  max-width: 90%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 2em 0;
}

/* .nameContainer {
} */

.name {
  font-size: 3.5em;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  background: -webkit-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 650ms 0ms;
  transform: translateY(100px);
  opacity: 0;
}

.role {
  font-size: 1.5em;
  transition: all 650ms 450ms;
  transform: translateY(100px); 
  opacity: 0;
}

.description {
  padding: 2.5em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2em;
  transition: all 650ms 850ms;
  transform: translateY(100px);
  opacity: 0;
  border: 1px solid gray;
}

.description p {
  font-style: italic;
  font-size: 1.2rem;
}

.description.slipIn,
.name.slipIn,
.role.slipIn {
 transform: translateY(0);
 opacity: 1;
}

.homeWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-99%);
  overflow: hidden;
  z-index: 5;
  transition: all 650ms;
}

.homeWrapper.build {
  animation: build 3s both;
}

@keyframes build {
  0% { height: 0; }
  100% { height: 100%; }
}

.homeWrapper.view {
  animation: view 650ms both; 
}

.homeWrapper.viewStable {
  transform: translateX(0); height: 100%;
}

@keyframes view {
  0% { transform: translateX(-99%); height: 100%; }
  100% { transform: translateX(-0); height: 100%; }
}

.container button {
  position: absolute;
  top: 0;
  left: 4em;
  z-index: 1000;
}

.projectWindow {
  position: absolute;
  height: 70%;
  z-index: 5;
  overflow: hidden;
  transform: rotateX(30deg) translateX(20vw) rotateY(0deg);
  /* -ms-overflow-style: none;   */
  /* scrollbar-width: none;      */
}

.projectWindow::-webkit-scrollbar {
  display: none;
}

.projectWindow.tilt {
  transform: rotateX(30deg) translateX(10vw) rotateY(0deg);
  animation: tilt 850ms both;
}

@keyframes tilt {
  0% {transform: rotateX(30deg) translateX(20vw) rotateY(0deg);}
  100% {transform: rotateX(0) translateX(20vw) rotateY(-30deg);}
}

.projectWindow.tiltN {
  animation: tiltN 650ms both;
}

@keyframes tiltN {
  0% {transform: rotateX(5deg) translateX(20vw) rotateY(0deg);}
  70% {transform: rotateX(0) translateX(10vw) rotateY(-20deg);}
  100% {transform: rotateX(0) translateX(20vw) rotateY(-40deg);}
}

.projectWindow.center {
  animation: center 350ms both alternate;
}

@keyframes center {
  0% {transform: rotateX(0deg) translateX(20vw) rotateY(-30deg);}
  100% {transform: rotateX(0deg) translateX(0vw) rotateY(0deg);}
}

.projectWindow.side {
  animation: side 350ms forwards;
}

@keyframes side {
  0% {transform: rotateX(0deg) translateX(0vw) rotateY(-0deg);}
  100% {transform: rotateX(0deg) translateX(20vw) rotateY(-30deg);}
}

.projectWrapper {
  width: 100%;
  transform: translateY(0);
}

.projectWrapper.slideIn {
  animation: slideIn 3s both;
}

@keyframes slideIn {
  0% {transform: translateY(-2100px);}
  100% {transform: translateY(0);}
}

@media screen and (max-width: 1200px) {
  .projectWindow {
    display: none;
  }
}
