.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: inherit;
  height: inherit;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 5px; */
  background: #F1F1F1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C1C1C1; 
  /* border-radius: 5px; */
}

::-webkit-scrollbar-corner {
  background: #F1F1F1; 
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4; 
}
