.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper.hide {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 2000px;
}

.card {
  width: 35em;
  height: 25em;
  position: absolute;
  background: pink;
  transform: rotateY(-45deg) rotateX(30deg) translateX(320px) translateY(-100px);
  transition: all 1s;
}

.card.center {
  transform: rotateY(0deg) rotateX(0deg) translateX(0px) translateY(0);
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-1500px);
  transition: all 1s;
}

.bg.center {
  transform: translateX(0);
}

.projectTitle {
  position: absolute;
  width: 100%;
  transform: translateY(-100px);
  transition: all 650ms;
  padding-left: 1em;
  font-size: 9.2em;
  font-weight: 900;
  font-family: serif;
  color: white;
}

.projectTitle.center {
  transform: translateY(0);
}

.swiper {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateX(1600px);
  border: 1px solid gray;
}

.swiper.swipeOpen {
  animation: openSwiper 650ms both;
}

@keyframes openSwiper {
  0% {transform: translateX(1500px); width: 100%;}
  100% {transform: translateX(0); width: 100%;}
}

.swiper.swipeClose {
  animation: closeSwiper 650ms both;
}

@keyframes closeSwiper {
  0% {transform: translateX(0); width: 100%;}
  100% {transform: translateX(0); width: 0%;}
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  background: white;
}

.transparent {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  background: transparent;
  border: 2px solid tomato;
}

.content div {
  width: 100%;
  height: 20em;
  flex: 0 0 auto;
  background: yellowgreen;
}

.container button {
  position: fixed;
  top: 0;
  left: 0;
}

.container button:last-child {
  position: fixed;
  top: 4em;
  left: 0;
}

.home {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}